{{#if addNewAnswer}}
  <h1>YEAH REALLY I KNOW THESE THINGS!</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="answer">The Answer:</label>
          {{input value=answer id="answer"}}
        </div>

        <div class="form-group">
          <label for="a-author">Who are you?</label>
          {{input value=author id="author"}}
        </div>

        <a class="btn" {{action 'save1'}}>Save</a>
      </form>
    </div>
{{else}}
  <a class="btn" {{action 'answerFormShow'}}>Hey hey hey I know these things!!</a>
{{/if}}
