{{#if addNewQuestion}}
  <h1>Ask A Question</h1>
    <div>
      <form class="new-question">
        <div class="form-group">
          <label for="title">What is your question?</label>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="q-author">Who are you?</label>
          {{input value=q-author id="q-author"}}
        </div>

        <div class="form-group">
          <label for="q-notes">Notes</label>
          {{input value=q-notes id="q-notes"}}
        </div>

        <button {{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <a class="btn" {{action 'questionFormShow'}}>Ask a Question</a>
{{/if}}
