{{#if addNewQuestion}}
  <form class="new-question">
    <div class="row" id="new-question">
        {{md-input value=title label="What is your question?" class="col l4 validate=true"}}
        {{md-input value=q-notes label="Any question notes?" class="col l4 validate=true"}}
        {{md-input value=userName label='Confirm your name:' class="col l4 validate=true"}}
        {{md-btn text="Save" action='save1' buttonType="large" class="right"}}

    </div>
  </form>
{{else}}
{{md-btn text="Ask a Question" action='questionFormShow' buttonType='large' class='ask'}}

{{/if}}
