{{#if showSignIn}}
<div class='row'>
  <h1>Sign In</h1>
</div>
{{md-input
  type='text'
  class='form-control col sm12'
  value=email
  label='email'
}}
{{md-input
  type='password'
  class='form-control col sm12'
  value=password
  label='password'
}}
{{md-input
  type='text'
  class='form-control col sm12'
  value=userName
  label="User Name"
}}
{{#if session.isWorking}}
Signing in
{{md-loader}}
{{else}}
<a class='btn btn-default'
{{ action 'signIn' 'password'}}>Sign In</a>
{{/if}}
{{else}}
  {{md-btn action="showSignIn" text="Sign In" buttonType="large"}}
{{/if}}
