{{#if showSignUp}}
<div class='page-header'>
  <h1>Sign Up</h1>
</div>
{{input
  type='text'
  class='form-control'
  value=email
  placeholder='email'
}}
{{input
  type='password'
  class='form-control'
  value=password
  placeholder='password'
}}
<a class='btn btn-default'
  {{ action 'signUp' }}>Sign Up</a>
{{else}}
  {{md-btn action="showSignUp" text="Sign Up"}}
{{/if}}
