{{#if showSignUp}}
  <h1>Sign Up</h1>
  {{md-input
    type='text'
    class='form-control col sm5'
    value=email
    label='email'
  }}
  {{md-input
    type='password'
    class='form-control col sm5'
    value=password
    label='password'
  }}
  <div class="col sm1">
    {{md-btn action='signUp' text='sign up' buttonType="large"}}
  </div>
{{else}}
  {{md-btn action="showSignUp" text="Sign Up" buttonType="large"}}
{{/if}}
