{{#if showSignIn}}
<div class='row'>
  <h1>Sign In</h1>
</div>
{{input
  type='text'
  class='form-control'
  value=email
  placeholder='email'
}}
{{input
  type='password'
  class='form-control'
  value=password
  placeholder='password'
}}
{{input
  type='text'
  class='form-control'
  value=userName
  placeholder="User Name"
}}
{{#if session.isWorking}}
Signing in
{{md-loader}}
{{else}}
<a class='btn btn-default'
{{ action 'signIn' 'password'}}>Sign In</a>
{{/if}}
{{else}}
  {{md-btn action="showSignIn" text="Sign In"}}
{{/if}}
