{{#if updateQuestionForm}}
  <h4>Update {{question.title}}</h4>
    <div>
      <form>
        {{md-input value=title label=question.title class="col s5 validate=true"}}
        {{md-input value=author label=userprofile.userName class="col s5 validate=true"}}
        {{md-input value=notes label=question.notes class="col s5 validate=true"}}
        {{md-input value=posted label=question.posted class="col s5 validate=true"}}
        {{md-btn text="Update it!" action='update' question=question}}
      </form>
    </div>
{{else}}
    <a class="btn" {{action 'updateQuestionForm' userprofile}}>Update</a>
{{/if}}
