
{{userName}}
{{#if showUpdateName}}
  {{md-input value=userName label="update username" class="col s5"}}
  <a class="btn" {{action 'updateUserName' userprofile}}>Update</a>
{{else}}
  {{md-btn text="update name" action="showUpdateName"}}
{{/if}}
