
  <div class="row top-content">
    <div class="col sm12">
      {{#if session.isAuthenticated}}
        <!-- <div class="profile-name">
          Welcome, {{session.currentUser.email}}
        </div> -->
        {{#md-btn action="signOut"}}
        Sign Out
        {{/md-btn}}

      <!-- {{new-user session=session newUser="newUser" userprofile=model.userprofile}} -->
      <!-- {{user-profile updateUserName="updateUserName"}} -->
      {{else}}
        <!-- <div class="sign-up-buttons"> -->
        {{sign-up signUp="signUp" user=user}}
        {{sign-in signIn="signIn" newUser=session.currentUser password=password}}
        <!-- </div> -->
      {{/if}}
    </div>
    <div class="col sm12">
      {{new-question save2="saveQuestion" session=session}}
    </div>
    <div class="col sm12">
      <a class="btn" onclick="Materialize.showStaggeredList('#questions')">The Questions</a>
    </div>
  </div>
  <div class="row">
    <ul id="questions" class="questions">
      {{#each model.questions as |question|}}
      {{question-tile question=question update="update" destroyQuestion="destroyQuestion" userprofile=model.userprofile}}
      {{/each}}
    </ul>
  </div>
