  {{md-parallax image="/assets/images/dawn-nature-sunset-trees.jpg"}}
  <div class="page-wrapper">
    <div class="section">
      <div class="container">
        <div class="top-content">
          {{#if session.isAuthenticated}}
          {{#md-btn action="signOut" buttonType="large"}}
          Sign Out
          {{/md-btn}}
          {{else}}
          {{sign-up signUp="signUp" user=user}}
          <br>
          {{sign-in signIn="signIn" newUser=session.currentUser password=password}}
          {{/if}}
          {{new-question save2="saveQuestion" session=session}}
          <a class="btn" onclick="Materialize.showStaggeredList('#questions')">The Questions</a>
        </div>
      </div>
    </div>
      <div class="section">

    <div class="container">
      <ul id="questions" class="questions">
        {{#each model.questions as |question|}}
        {{question-tile question=question update="update" destroyQuestion="destroyQuestion" userprofile=model.userprofile}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
