<div class="row top-content">
  <div class="col sm6">
    {{#if session.isAuthenticated}}
    {{session.currentUser}}
    <p>Welcome, {{model.userprofile.userName}} {{#md-btn action="signOut"}}
      Sign Out
      {{/md-btn}}</p>
    {{new-user session=session newUser="newUser" userprofile=model.userprofile}}
    {{user-profile user=session.currentUser updateUserName="updateUserName"}}
    {{else}}
    <div class="sign-up-buttons">
      {{sign-up signUp="signUp" user=user}}
      {{sign-in signIn="signIn" user=user password=password}}
    </div>
    {{/if}}
  </div>
  <div class="col sm6">
    <h5>{{new-question save2="saveQuestion" session=session}}</h5>
  </div>
</div>
<h3 class="center">The Questions</h3>
<hr>
<div class="questions">
  {{#each model.questions as |question|}}
  {{question-tile question=question update="update" destroyQuestion="destroyQuestion" userprofile=model.userprofile}}
  {{/each}}
</div>
