  {{md-parallax image="/assets/images/dawn-nature-sunset-trees.jpg"}}
  <div class="page-wrapper">
  <div class="section">
    <div class="container">
      <div class="user-content">
        <p>Welcome {{model.userprofile.userName}}</p>
        {{user-profile updateUserName="updateUserName" userprofile=model.userprofile}}
        {{new-question save2="saveQuestion" userprofile=model.userprofile}}
        <a class="btn" onclick="Materialize.showStaggeredList('#questions')">The Questions</a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <ul class="questions" id="questions">
        {{#each model.questions as |question|}}
        {{question-tile question=question update="update" destroyQuestion="destroyQuestion" userprofile=model.userprofile}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
  {{md-parallax image="/assets/images/sunrise-phu-quoc-island-ocean.jpg"}}
